In [13]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [14]:
df=pd.read_excel("C:\\Users\\DELL\\Desktop\\myExpenses.xlsx","Sheet1")

In [16]:
df

,MonthlyExpenses,Amount,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,soap,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,detergent,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,brush,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,shampoo,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pads,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,fair an lovely/bb/cc/cream,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,moisturiser,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,power,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,colgate,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,RENT,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Traveling,2000,NaN,NaN,NaN,NaN,NaN,NaN,
11,mobilerecharge,250,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,localtraveling,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,snacks,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,shopping,1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,hairoil,60,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,savings,5000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Emi1,2234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Emi2,3520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Emi3,7000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Emi4,10500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Emi5,3000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,TotalExp,44404,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df=df.dropna(how ='all')
df=df.dropna(thresh=0)

In [5]:
df

                                    Monthly Expenses Amount
Traveling 2000 NaN NaN NaN NaN NaN               NaN

In [6]:
df.info

<bound method DataFrame.info of                                     Monthly Expenses Amount
Traveling 2000 NaN NaN NaN NaN NaN               NaN       >

In [7]:
df=df.drop(22)

KeyError: 22

In [ ]:
df

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
ndf=df.isnull().sum()

In [ ]:
df

In [ ]:
df["Monthly Expenses"].unique()