In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\DELL\\Desktop\\Datasets\\newdata\\nyc_weather.csv")

In [3]:
df.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [4]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [5]:
df['Temperature'].max()

50

In [6]:
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [7]:
df['WindSpeedMPH'].mean()

6.892857142857143

The process of cleaning messy data is called data munging or data wrangling

In [8]:
#fill null values
df.fillna(0, inplace = True)
df['WindSpeedMPH'].mean()

6.225806451612903

Dataframes

In [41]:
import pandas as pd
weather_data = {
    'day':[1/1/2017, 1/2/2017, 1/3/2017, 1/4/2017, 1/5/2017, 1/6/2017, 1/7/2017],
    'temperature':[32,35,28,24,31,54,32],
    'windspeed':[6,7,2,4,2,6,6],
    'event':['Rain','Sunny','Snow','Snow','Rain','breeze','breeze']
}

In [42]:
df1 = pd.DataFrame(weather_data)
df1

        day  temperature  windspeed   event
0  0.000496           32          6    Rain
1  0.000248           35          7   Sunny
2  0.000165           28          2    Snow
3  0.000124           24          4    Snow
4  0.000099           31          2    Rain
5  0.000083           54          6  breeze
6  0.000071           32          6  breeze

In [43]:
rows,columns=df1.shape

In [26]:
columns

4

In [27]:
rows

7

In [31]:
df1.head(1)

        day  temperature  windspeed event
0  0.000496           32          6  Rain

In [30]:
df1.tail(1)

        day  temperature  windspeed   event
6  0.000071           32          6  breeze

In [40]:
#indexing slicing
df1[2:5]

        day  temperature  windspeed event
2  0.000165           28          2  Snow
3  0.000124           24          4  Snow
4  0.000099           31          2  Rain

In [33]:
df1.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [35]:
df1.day

0    0.000496
1    0.000248
2    0.000165
3    0.000124
4    0.000099
5    0.000083
6    0.000071
Name: day, dtype: float64

In [36]:
df1.event #df['event']

0      Rain
1     Sunny
2      Snow
3      Snow
4      Rain
5    breeze
6    breeze
Name: event, dtype: object

In [38]:
type(df1.event )

pandas.core.series.Series

In [39]:
df1.set_index('day')

          temperature  windspeed   event
day
0.000496           32          6    Rain
0.000248           35          7   Sunny
0.000165           28          2    Snow
0.000124           24          4    Snow
0.000099           31          2    Rain
0.000083           54          6  breeze
0.000071           32          6  breeze