Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [9]:
exp=[2200,2350,2600,2130,2190]
print("extra spent in feb", exp[1]-exp[0])

extra spent in feb 150

In [10]:
print("total expense in first quarter", exp[0]+exp[1]+exp[2])

total expense in first quarter 7150

In [11]:
if exp == 2000:
    print("yes")
else:
    print("no")

no

In [12]:
print("Did I spent 2000$ in any month? ", 2000 in exp)

Did I spent 2000$ in any month?  False

In [13]:
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]

In [14]:
exp.append(1980)
print("Expenses at the end of June:",exp)

Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [15]:
exp[3]=exp[3]-200
print(exp)

[2200, 2350, 2600, 1930, 2190, 1980, 1980]

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']
Using this find out,

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [24]:
heros=['spider man','thor','hulk','iron man','captain america'] 
len(heros)

5

In [25]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [26]:
heros.remove('black panther')
print(heros)
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [23]:
heros.remove('thor').insert('doctor strange')

ValueError: list.remove(x): x not in list

In [27]:
heros[1:3]=['doctor strange']
print(heros)
# 5. Sort the list in alphabetical order
heros.sort()
print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']