Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line


I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [3]:
street="Rajaji Nagar"
city="Hyederabad"
country="India"
address = '\n' +street + '\n' + city + '\n' + country
print("Address using + operator:",address)
address = f'\n{street}\n{city}\n{country}'
print("Address using f-string:",address)

Address using + operator:
Rajaji Nagar
Hyederabad
India
Address using f-string:
Rajaji Nagar
Hyederabad
India

Create a variable to store the string "Earth revolves around the sun"

Print "revolves" using slice operator

Print "sun" using negative index

In [14]:
fun="Earth revolves around the sun"
print(fun[6:15])
fun[-3:]

revolves

'sun'


Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [16]:
fruits=5
vegetable=9
print(f"I eat {vegetable} veggies and {fruits} fruits daily" where x and y presents vegetables and fruits that you eat everyday)

I eat 9 veggies and 5 fruits daily

I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [20]:
s='maine 200 banana khaye'
s=s.replace('banana','samosa')
s=s.replace('200','10')
print("Using two line replace:",s)

Using two line replace: maine 10 samosa khaye

In [19]:
s='maine 200 banana khaye'
s=s.replace('banana','samosa').replace('200','10')
print("Using single line:",s)

Using single line: maine 10 samosa khaye